
body{
    color:white;
    line-height: 1.5;
    font-size: 16px;
    width: 82.25%;
    height: 50%;
    font-family: 'Times New Roman', Times, serif;
}
*{
    margin: 0;
    padding:0;
    outline:none;
    text-decoration: none;
    box-sizing: border-box;
    flex-wrap: wrap;
}
::before,::after{
    box-sizing: border-box;
}
.aside{
    width: 270px;
    background-color: black;
    position: fixed;
    padding: 30px; 
    height: 100%;
    border-right: 1px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    z-index: 10;
    
}
.main-content{
    background-color:rgb(0, 0, 0);
    min-height: 100vh;
    display: block;
    position: relative;
    flex-wrap: wrap;
    padding-right: 3%;
    left: 270px;
    top:0;
    right: 0;
    opacity: 1;
    z-index: 0;
}
.aside ul{
    list-style: none;
}
.aside .logo{
    position:absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
    
}
.aside .logo a{
    color:red;
}
.aside .nav{
    margin-top: 50px;
}
.aside .nav li {
    margin-bottom: 20px;
    display: block;
    font-weight: 600;
    color: black;
    padding: 5px 15px;
    border-bottom: 1px solid white;
}
.aside .nav li a {
    color: red;
    
}
.aside .nav li a i{
    margin-right: 15px;
    color:red;
}
#home{
    padding:3%;
}
#about{
    padding-top: 5px;
    padding:3%;
}
#home h1{
    border-bottom: 1px solid red;
}
#about h2{
    border-bottom: 1px solid red;
}
p{
    text-align: justify;
    font-size: 25px;
}
#experience{
    padding-top: 5px;
    padding:3%;
}
#experience h2{
    border-bottom: 1px solid red;
}
#projects{
    padding-top: 5px;
    padding:3%;
}
#projects h2{
    border-bottom: 1px solid red;
}

#contant{
    padding-top: 5px;
    padding:3%;
}
.Cot{
    list-style: none;
}
.Cot li{
    padding:3vh;
}
.Cot li a{
    color:whitesmoke
}
